<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Username" value="myStatConet"/>
    <add key="Password" value="my5t4tek0net"/>
    <add key="ChartImageHandler" value="storage=file;timeout=0;dir=c:\TempImageFiles\;"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <!--<add key="Username" value="mybankstatement"/>
    <add key="Password" value="Password=123"/>-->
    <add key="SenderEmail" value="TestMBS@Diamondbankn.com"/>
    <add key="SenderPassword" value="(123456789testmbs)"/>
    <add key="owin:AutomaticAppStartup" value="False"/>
    <add key="MailPortNumber" value="25"/>
    <add key="AlternateMailServer" value="10.0.20.77"/>
    <add key="MailServer" value="10.0.20.77"/>
    <add key="AlternateMailPortNumber" value="25"/>
    <add key="startMinute" value="28"/>
    <add key="ExcelProtect" value="1"/>
    <add key="EndMinute" value="39"/>
    <add key="ie" value="11"/>
    <add key="wqAcctNo" value="0059739507"/>
    <add key="DiamondAcctNo" value="482000155"/>

    <add key="VATAcctNo" value="253000039"/>
  
    <add key="google" value="40"/>
    <add key="firefox" value="40"/>
    <add key="net.mybankstatement.webservice" value="https://mybankstatement.net/Services/webservice.asmx"/>
  </appSettings>
  <connectionStrings>
     <add name="iStatementConnectionString" connectionString="Data Source=10.0.35.173;Initial Catalog=mybankStatementDiamond;User ID=testmobile;Password=Diamondbank1" providerName="System.Data.SqlClient"/>

    <!-- <add name="iStatementConnectionString" connectionString="Data Source=WQ-12;Initial Catalog=mybankStatementDiamond;User ID=sa;Password=system" providerName="System.Data.SqlClient"/>-->
    <add name="mssqlconn_SMS" connectionString="Data Source=10.0.20.47;Initial Catalog=proxy;Persist Security Info=True;User ID=mGate2;Password=mGate123!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime enableVersionHeader="false"/>
    <!--<pages enableEventValidation="false"/>-->
    <!--<identity impersonate="true" userName="Poctest" password="1234@test" />-->
    <pages maintainScrollPositionOnPostBack="true" enableViewStateMac="false" viewStateEncryptionMode="Always" autoEventWireup="false" enableEventValidation="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="CKEditor" namespace="CKEditor.NET" assembly="CKEditor.NET"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <!--<pages maintainScrollPositionOnPostBack="true" enableViewStateMac="false" autoEventWireup="false" enableEventValidation="false"/>-->
    <!--<httpCookies requireSSL="true"/>-->
    <!--<authentication mode="Forms">
      <forms requireSSL="true">
      </forms>
    </authentication>-->
    <compilation debug="true" strict="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DataVisualization.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--<machineKey decryptionKey="7C7527750041B9D40FEC3C48F7EEF08DFE59BA5D55698CF6,IsolateApps"/>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name="adAuthCookie" timeout="60" path="/" >
      </forms>
    </authentication>
     <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>-->
    <!--<identity impersonate="true" />-->
    <customErrors defaultRedirect="ErrorPage.aspx" mode="Off">
      <error statusCode="404" redirect="Error404.aspx"/>
      <error redirect="ErrorPage.aspx" statusCode="500"/>
    </customErrors>
    <!--<httpHandlers>
      <add path="*" verb="OPTIONS" type="System.Web.DefaultHttpHandler" validate="true"/>
    </httpHandlers>-->
  </system.web>
  <system.webServer>
 <!--
    <rewrite>
      <outboundRules>
        <rule name="Add SameSite" preCondition="No SameSite">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false"/>
          <action type="Rewrite" value="{R:0}; SameSite=strict"/>
          <conditions/>
        </rule>
        <preConditions>
          <preCondition name="No SameSite">
            <add input="{RESPONSE_Set_Cookie}" pattern="."/>
            <add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=strict" negate="true"/>
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
	-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="domain"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="iisstart.htm"/>
        <remove value="default.aspx"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <!--<validation validateIntegratedModeConfiguration="false"/>-->
    <!--<handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>-->
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <!--<system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <runtime>
    <enforceFIPSPolicy enabled="false"/>
  </runtime>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>